.App {
  /* text-align: center; */

  margin: 0 auto;
  display: grid;

  height: 100vh;

  grid-template-areas:
    "w c"
    "w b";

  grid-template-columns: 10fr 2fr;
  background-color: #292929;
}

.App-content {
  grid-area: w;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.App-chat {
  grid-area: c;
  justify-content: flex-end;
  background-color: #292929;
}

.App-buttons {
  grid-area: b;
  align-self: self-end;
  background-color: #292929;
}